body {
    background-color:cornflowerblue;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:aliceblue
}

li {
    color:aliceblue
}